.btn-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.b-img-responsive {
  max-height:130px;
  display: inline;
}
.navbar-toggle {
  margin-top: 3px;
  margin-bottom: 3px;
  color: #7d7d7d;
}
.navbar {
  margin-bottom: 0;
}
.jumbotron {
  background-color: #223a70;
  color: #f8f8f8;
  margin-bottom:8px;
}
.news-header {
  color: #7d7d7d;
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}
.news-panel {
  padding-bottom:0;
}
.footer {
  margin-top: 50px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width:768px) {
  .jumbotron{
    text-align:center;
  }
  .b-container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width:480px) {
  .b-table{
    font-size:10px;
  }
}
